<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voters Website</title>
    <link rel="stylesheet" href="apphome.component.css">
</head>
<body>
    <div class="container">
        <img src="assets/ab.jpg" alt="Background Image" class="bg-img"><br><br>

        <div class="slogan">
            <h1>“आपकी आवाज़,</h1>
            <span>आपका वोट,</span>
            <h1 id="rd">हमारा भविष्य।”</h1>
        </div>

        <div class="content">
            <p class="par">Elections belong to the people. It's their decision.<br>
                If they decide to turn their back on the fire and burn their behinds,<br>
                then they will just have to sit on their blisters.</p>
        </div>
    </div>
    
</body>
</html>
