/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light background color */
}

.container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #fff; /* White text color */
}

/* Slogan styles */
.slogan {
    margin-bottom: 20px;
}

.slogan h1, #rd {
    font-size: 40px;
    font-weight: bold;
    color: orangered; /* Slogan text color */
    margin: 0;
}

.slogan span {
    font-size: 40px;
    color: rgb(71, 21, 209); /* Purple text color */
}

/* Content styles */
.content {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.content .par {
    font-size: 18px;
    line-height: 1.6;
    color: #333; /* Dark text color */
    text-align: justify;
    margin: 0;
}
