/* Custom styles for the login page */

.bodyy {
    background-image: url(../../assets/reg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center;
    overflow: hidden; /* Prevent image overflow */
}

.form {
    width: 280px;
    height: 410px;
    background-color: rgba(71, 70, 70, 0.3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-left: 250px; /* Adjust as needed */
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orange;
    font-size: 22px;
    background-color: rgb(224, 220, 212);
    border-radius: 10px;
    margin: 20px auto;
    padding: 8px;
}

.radiobtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}

.radiobtn input[type="radio"] {
    transform: scale(0.6); 
    margin-right: 5px; 
    vertical-align: middle;
    position: relative;
    top: -10px; 
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border: 1px solid orange;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px 0;
    font-family: sans-serif;
    text-align: center;
}

.form input:focus {
    outline: none;
}

.btnn {
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}

.btnn:hover {
    background: white;
    color: orange;
}

.error {
    color: rgb(9, 46, 100);
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}
